// Помощники
// @import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
// @import 'main/parameters';// переменные

//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
// @import 'main/common'; // общие стили
// @import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

//Компоненты(все файлы в папке components) -> добавляются автоматически в стили, импортить сюда их не нужно

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах

html {
    font-family: 'Montserrat', sans-serif;
}
// .form {}
// .fieldgroup-wrap {
//     margin: 0 0 10px;
// }
// .fieldgroup {
//     display: inline;
//     cursor: pointer;
//     &__text {
//         position: relative;
//         padding-left: 20px;
//         &::before {
//             position: absolute;
//             top: 0;
//             left: 0;
//             content: "";
//             height: 16px;
//             width: 16px;
//             border-radius: 5px;
//             border: 1px solid green;
//         }
//         &::after {
//             position: absolute;
//             content: "";
//             top: 0;
//             left: 0;
//             height: 8px;
//             width: 8px;
//             border-radius: 5px;
//         }
//     }
// }

// .radio {
//     opacity: 0;
//     visibility: hidden;
//     width: 1px;
//     height: 1px;

//     &:checked + .fieldgroup__text::after {
//         background-color: green;
//         top: 5px;
//         left: 5px;
//     }
// }

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.header1 {
    border-bottom: 1px solid #838181;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 199;

    // &.scroll {
    //     background: blue;
    // }
}
.nav {
    &__list {
        display: flex;
    }
    &__li {}
    &__link {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 35px 10px;
        border-bottom: 2px solid rgba(82, 82, 82, 0);
        transition: border-bottom-color ease 0.3s;
    
        &.active,
        &:hover {
            border-bottom: 2px solid #fff;
        }
    }
}

.section2 {
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}







.h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;

}

.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 13px 54px;
    text-decoration: none;
}

.works {
    
    padding: 93px 0 0;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 490px; //%
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
        z-index: -1;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 56px;
    }
    &__title {
        color: #FFFFFF;
        max-width: 520px;
    }
    &__btn {
        margin: 0 0 10px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        
    }
}

.work {
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);
    padding: 0 15px;


    &__img-wrap {}
    &__img {
        border-radius: 10px;
    }
    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }
    &__text {
        font-size: 16px;
        line-height: 25px;
        color: #999999;
    }
    &__link {
        color: #4985FF;
    }
}


.swiper-wr {
    position: relative;
    max-width: 1300px;
    margin: 100px auto;
    padding: 0 50px;
}
.swiper-container {
    padding: 30px 0;
} 
.swiper-wrapper {}
.swiper-slide {
    padding: 0 10px;

    img {
        width: 100%;
    }
}
.swiper-pagination {
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0px;
}

.swiper-button-prev {
    color: red;
}
.swiper-button-next {
    color: red;
}
.swiper-pagination-bullet-active {
    background: red;
}



.inner {
    background: #282633;
    padding: 40px 400px;
}
.search-form {
    position: relative;
    width: 172px;
    &__field {
        background:rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        border: 0 solid rgba(255, 255, 255, 0.5);
        transition: border-color ease 0.3s;
        outline: none;
    }
    &__field::placeholder {
        color: #fff;
        opacity: 1;
        text-decoration-line: underline;;
    }
    &__field:focus {
        border: 3px solid red;
    }
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background-image: url(../imgs/Vector.svg);
        background-repeat: no-repeat;
        z-index: 1;

    }
}

.container-inner-new {
    display: flex;
    padding: 40px;
    margin-bottom: 200px;
    background-color: #282633;

}
.border-line {
    font-size: 18px;
    text-transform: uppercase;
    color: #6a6391;
    position: relative;
    display: inline-block;
    padding: 15px 5px;
    text-decoration: none;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 150px;
        height: 3px;
        background: red;
        transform: translateX(-50%);
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        border: 10px solid transparent; 
        border-bottom: 10px solid red;
        transform: translateX(-50%);

    }
}



.grid-wrap {
    max-width: 1420px;
    margin: 150px auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 14px;
}
.grid-el {
    width: 100%;
    margin-bottom: 52px;

    &:nth-child(10n + 1) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    &:nth-child(10n + 6) {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
    }

    &__title {
        margin: 0 0 14px;
    }
    &__link {
        display: block;
    }
    &__img {
        width: 100%;
        max-width: 100%;
    }
}

.wrapper-inner {
    width: 600px;
    margin: 100px auto;
}

.test-link {
    display: inline-block;
    font-size: 30px;
    position: relative;
    padding-left: 50px;
    text-decoration: none;
    span {
        text-decoration: underline;
     }
    &::before {
        padding-right: 5px;
        content: "\260E";

    }
}

.svg-icon {
    fill: red;
}

.test-wrap {}
.number-block {
    max-width: 370px;
    background: #1C1B18;
    border: 1px solid red;
    border-bottom-width: 10px;
    padding: 60px 20px 20px;
    position: relative;
    &__num {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 15px;
        font-weight: 900;
        font-size: 250px;
        line-height: 250px;
        color: #1C1B18;
        // text-shadow: 0 0 3px red;
        -webkit-text-stroke: 4px red;
        text-stroke: 4px red;
    }
    &__text {
        position: relative;
        z-index: 2;
        font-family: Muller;
        font-style: normal;;
        font-weight: 900;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
}


